#header{
    background: midnightblue url('../resources/images/background/citybackground.png') repeat-x;
    background-size: contain;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#header:hover{
    background: midnightblue url('../resources/images/background/hovercity.png') repeat-x;
    background-size: contain;
}
#header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border:0;
}
#header a{
    display: block;
    text-decoration: none;
    font-size: 0.65em;
    padding: 10px;
}
#user {
    text-align: right;
}
#navbar{
    clear: both;
    overflow: hidden;
    background: yellow;
}
#navbar-options li{
    float: left;
    text-align: center;
}

#session-options li{
    float: right;
    text-align: center;
}

#brand{
    text-align: right;
    color: white;
    width: 70%;
}

#brand, #session{
    display: block;
    float: left;
}
#session{
    width: 30%;
}
#session li{
    text-align: center;
    margin-bottom: 5%;
}
#session p{
    height: 100%;
    background: white;
}
#session-options{
    height: 100%;
    width: 100%;
}
#brand img{
    width: 10%;
    float: left;
    margin-right: 10px;
}
#brand p{
    text-align: left;
    margin-top: 3%;
    font-size: 2em;
    margin-bottom: 5%;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
}

#brand p:hover{
    -webkit-transform: rotateX(720deg);
    -moz-transform: rotateX(720deg);
    -ms-transform: rotateX(720deg);
    -o-transform: rotateX(720deg);
    transform: rotateX(720deg);
}

a.navbar-item{
    background: yellow;
}
a.navbar-item:hover{
    background: black url('../resources/images/background/buttonBakcground.gif');
    color: yellow;
}
a.login-item{
    background:yellow;
    color: midnightblue;
}
a.login-item:hover{
    background: black url('../resources/images/background/buttonBakcground.gif');
    color: yellow;
}
a.logout-item{
    background: red;
    color: white;
}
a.logout-item:hover{

}

@media screen and (max-width: 760px) {
    #brand p{
        font-size: 1.2em;
        margin-top: 10%;
    }
    #session p{
        font-size: 0.6em;
    }
    #navbar li{
        width: 100%;
    }
}

@media print {
    #navbar {
        display: none;
    }
    #brand {
        margin-left:10%;
    }
    #brand img {
        margin-top: 3%;
    }
}
