a[href='cart.php']{
    color: white;
    background-color: black;
}
body, #cart{
    text-align: center;
}
#start_shopping img{
    width: 50px;
    height: 50px;
}
h1{
    color: red;
}
#start_shopping{
    border-radius: 5%;
    font-family: game, sans-serif;
    color: green;
    background-color: lawngreen;
    width: inherit;
    padding: 1%;
    margin-top: 2%;
    border: 0;
}
#start_shopping:hover{
    background-color: lightgreen;
    cursor: pointer;
}
#btn_buy_cart_items{
    background-color: mediumseagreen;
    color:black;
    border: 0;
}
#btn_buy_cart_items:hover{
    background-color: green;
    color: white;
}
#btn_drop_cart{
    background-color: indianred;
    color:black;
    border: 0;
}
#btn_drop_cart:hover{
    background-color: red;
    color: white;
}
#btn_shop{
    background-color: cornflowerblue;
    color: black;
    border: 0;
}
#btn_shop:hover{
    background-color: midnightblue;
    color: white;
}

#game_over{
    animation: tilt 0.7s linear 0s infinite;
    -webkit-animation: tilt 0.7s linear 0s infinite;
    -o-animation: tilt 0.7s linear 0s infinite;
}
@keyframes tilt {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#options button img{
    width: 20px;
    height: 20px;
}
#options button{
    font-family: game, sans-serif;
    border-radius: 5%;
    padding: 1%;
    cursor: pointer;
}
#cart table select{
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightgreen;
    text-align: center;
    font-family: game, sans-serif;
}
#cart td[data-role]:before{
    content: '$ ';
}