@font-face {
    font-family: game;
    src: url('../../resources/fonts/game/PressStart2P-Regular.ttf');
}
a[href='contact.php']{
    color: white;
    background-color: black;
}
body{
    font-family: game, serif;
}
.contact-container {
    width: 40%;
}

.form .contact-form {
    overflow: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.form .form-textarea {
    border: none;
    overflow: auto;
    outline: none;

    /*Same as in forms.css*/
    width: 100%;
    position: relative;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 24px;
    padding-left: 20px;
    border: none;
    color: #000;
    outline: none;
    margin: 1% auto;
    /**/

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 760px) {

}
