a[href='manage_product.php']{
    color: white;
    background-color: black;
}
#description-wrapper label{
    display: block;
    vertical-align: middle;
    margin-top: 1%;
    margin-bottom: 1%;
}
@media print{
    body{
        background-color: white;
    }
    #add-option{
        display: none;
    }
    button{
        display: none;
    }
    #brand{
        color: black;
    }
    a{
        text-decoration: none;
    }
}